@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans/OpenSans-Light.eot');
  src: url('../fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}